# LangChain Core
langchain
langchain-core
langchain-community

#transformers
sentence-transformers

#youtube API
youtube-transcript-api

#others
faiss-cpu
tiktoken

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
torch